<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    syntaxCheck="false"
    bootstrap="boot.php"
    colors="true">
  <testsuites>
    <testsuite name="DKAN Test Suite">
      <directory>.</directory>
    </testsuite>
  </testsuites>

  <php>
    <includePath>.</includePath>
  </php>
</phpunit>
