@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Varela+Round&display=swap');

pre, tt, code { 
  color: #E74C3C;
  padding: 2px 5px;
  background-color: #fafafa;
  border: solid 1px #e1e4e5;
}
a, a.reference {
  color: #0071bc;
  border: none;
}
a:hover, a.reference:hover {
  color: #205493;
  border-bottom: 1px solid #205493;
}
h1.logo {
  display: none;
}
h1,h2 { 
  color: #0071bc 
}
h3 {
  color: #112e51;
}
div.body h3 {
  font-size: 140%;
}
div.body {
  border-left: 1px solid #eee;
}
div.sphinxsidebarwrapper p.logo {
  margin: -1rem 0 1rem 0;
  text-align: left;
}
div.sphinxsidebarwrapper h3 {
  display: none;
}
div.sphinxsidebarwrapper #searchbox h3 {
  display: block;
}
strong {
  font-weight: 900;
}
#searchbox {
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
div.sphinxsidebar ul ul {
  list-style: none;
}
div.sphinxsidebar ul.current {
  margin-left: -1.75rem;
}
div.sphinxsidebar a.reference {
  border-bottom: none;
  border-left: .5rem solid transparent;
  box-sizing: border-box;
  display: inline-block;
  line-height: 1.4;
  padding: .35rem 1rem .35rem 1.25rem;
  width: 100%;
  transition: border 0.5s ease;
}
div.sphinxsidebar a.reference:hover {
  border-bottom: none;
  color: #0071bc;
}
div.sphinxsidebar li.toctree-l1.current > a.reference {
  border-left-color: #0071bc;
  color: #0071bc;
}
div.sphinxsidebar li.toctree-l1.current ul {
  border-left: .5rem solid #9bdaf1;
  margin-left: 0;
  padding-left: 1rem;
}
div.sphinxsidebar li.toctree-l1.current ul ul {
  border-left: none;
}
div.admonition {
  border: none;
}
div.admonition p.admonition-title {
  display: block;
  color: white;
  margin: -10px -30px 10px;
  padding-left: 30px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
}
div.admonition p.admonition-title:before {
  font-family: "Font Awesome 5 Free";
  content:"\f05a";
  padding-right: .5rem;
}
div.admonition.warning p.admonition-title:before {
  content: "\f071";
}
div.admonition.note p.admonition-title {
  background: #0071bc;
}
div.admonition.tip p.admonition-title {
  background: #42b983;
}
div.admonition.warning p.admonition-title {
  background: #f0b37e;
}

table.align-center {
  margin-left: 0;
}
.slack:before {
  font-family: "Font Awesome 5 Brands";
  content:"\f198";
  padding-right: .5rem;
}
.github:before {
  font-family: "Font Awesome 5 Brands";
  content:"\f09b";
  padding-right: .5rem;
}
.medium:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f23a";
  padding-right: .5rem;
}

@media screen and (min-width: 876px) {
  div.document {
    width: 100%;
    margin: 0;
  }
  div.footer {
    width: 80%;
    position: fixed;
    bottom: 0;
    right: 20px;
    margin: 0;
    background: rgba(255,255,255,.85);
    padding: 10px;
  }
  div.footer a {
    text-decoration: none;
  }
  div.footer a:hover {
    border-bottom: 1px solid #888;
  }
  div.bodywrapper {
    margin: 0 0 0 20%;
  }
  div.body {
    max-width: 90%;
    margin: 50px auto;
  }
  div.sphinxsidebar {
    width: 20%;
  }
  div.sphinxsidebarwrapper {
    width: auto;
    margin: 20px 18px;
  }
}