.env.local
.DS_Store
.idea
.swp
.vscode
composer.lock
package-lock.json
tagfile
/core
/cypress/videos
/cypress/screenshots
/libraries
/node_modules
/vendor
/tests/reports
/web
.phpunit.result.cache
docs/build
