docroot
libraries
modules/contrib
modules/nucivic
themes/contrib
webroot
test/vendor
test/bin
test/assets
test/composer.lock
test/dkan
test/local.yml
assets/*
.idea
behat.local.yml
npm-debug.log
.sublime-workspace
docs/_build
*.orig