<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="drupal-contrib-project">
  <description>Default PHP CodeSniffer configuration for a Drupal contrib project.</description>
  <rule ref="Drupal"/>
  <arg name="extensions" value="engine,inc,info,install,module,php,profile,test,theme,yml"/>
  <exclude-pattern type="relative">/tests/</exclude-pattern>
  <exclude-pattern type="relative">/Tests/</exclude-pattern>
  <exclude-pattern>*/tests/*</exclude-pattern>
  <exclude-pattern>*/Tests/*</exclude-pattern>
</ruleset>
