<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd"
    bootstrap="../../../core/tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    stopOnError="false"
    verbose="true">

    <testsuites>
        <testsuite name="DKAN Test Suite">
            <directory>modules/dkan_api/tests</directory>
            <directory>modules/dkan/tests</directory>
            <directory>modules/dkan_data/tests</directory>
            <directory>modules/dkan_datastore/tests</directory>
            <directory>modules/dkan_frontend/tests</directory>
            <directory>modules/dkan_harvest/tests</directory>
            <directory>modules/metastore/tests</directory>
            <directory>modules/dkan_non_public/tests</directory>
            <directory>modules/dkan_schema/tests</directory>
            <directory>modules/dkan_search/tests</directory>
            <directory>modules/dkan_sql_endpoint/tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>requires-database</group>
        </exclude>
    </groups>

    <php>
        <!-- These variables may alternatively be set as environment variables. -->
        <!-- E.g., `DRUPAL_VERSION=V8 ./vendor/bin/phpunit` -->
        <env name="DRUPAL_VERSION" value="V8"/>
        <env name="SIMPLETEST_BASE_URL" value="http://web"/>
    </php>
    <filter>
        <!-- whitelist needed for code coverage generation to work -->
        <whitelist>
            <directory>modules/dkan_api/src</directory>
            <directory>modules/dkan/src</directory>
            <directory>modules/dkan_data/src</directory>
            <directory>modules/dkan_datastore/src</directory>
            <directory>modules/dkan_frontend/src</directory>
            <directory>modules/dkan_harvest/src</directory>
            <directory>modules/dkan_lunr/src</directory>
            <directory>modules/metastore/src</directory>
            <directory>modules/dkan_non_public/src</directory>
            <directory>modules/dkan_schema/src</directory>
            <directory>modules/dkan_search/src</directory>
            <directory>modules/dkan_sql_endpoint/src</directory>
      <!-- By definition test classes have no tests. -->
      <exclude>
        <directory>modules/dkan/src/Tests</directory>
        <directory suffix="Test.php">./</directory>
        <directory suffix="TestBase.php">./</directory>
        <!-- TBD: skip the drush commands for now -->
        <directory suffix="Commands.php">./</directory>
      </exclude>
        </whitelist>
    </filter>
</phpunit>
