<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd"
    bootstrap="/var/www/vendor/weitzman/drupal-test-traits/src/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    stopOnError="false"
    verbose="true">

    <testsuites>
        <testsuite name="DKAN Test Suite">
            <directory>tests/src</directory>
            <directory>modules/common/tests/src</directory>
            <directory>modules/metastore/tests/src</directory>
            <directory>modules/metastore/modules/metastore/tests/src</directory>
            <directory>modules/metastore/modules/metastore_search/tests/src</directory>
            <directory>modules/metastore/modules/metastore_admin/tests/src</directory>
            <directory>modules/datastore/tests/src</directory>
            <directory>modules/frontend/tests/src</directory>
            <directory>modules/harvest/tests/src</directory>
            <directory>modules/harvest/modules/harvest_dashboard/tests/src</directory>
            <directory>modules/json_form_widget/tests/src</directory>
        </testsuite>
        <testsuite name="DkanUnitTests">
          <directory>tests/src/Unit</directory>
          <directory>modules/common/tests/src/Unit</directory>
          <directory>modules/metastore/tests/src/Unit</directory>
          <directory>modules/metastore/modules/metastore/tests/src/Unit</directory>
          <directory>modules/metastore/modules/metastore_search/tests/src/Unit</directory>
          <directory>modules/metastore/modules/metastore_admin/tests/src/Unit</directory>
          <directory>modules/datastore/tests/src/Unit</directory>
          <directory>modules/frontend/tests/src/Unit</directory>
          <directory>modules/harvest/tests/src/Unit</directory>
          <directory>modules/harvest/modules/harvest_dashboard/tests/src/Unit</directory>
          <directory>modules/json_form_widget/tests/src/Unit</directory>
        </testsuite>
        <testsuite name="DkanFunctionalTests">
          <directory>tests/src/Functional</directory>
          <directory>modules/common/tests/src/Functional</directory>
          <directory>modules/metastore/tests/src/Functional</directory>
          <directory>modules/metastore/modules/metastore/tests/src/Functional</directory>
          <directory>modules/metastore/modules/metastore_search/tests/src/Functional</directory>
          <directory>modules/metastore/modules/metastore_admin/tests/src/Functional</directory>
          <directory>modules/datastore/tests/src/Functional</directory>
          <directory>modules/frontend/tests/src/Functional</directory>
          <directory>modules/harvest/tests/src/Functional</directory>
          <directory>modules/harvest/modules/harvest_dashboard/tests/src/Functional</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>requires-database</group>
        </exclude>
    </groups>

    <php>
        <!-- These variables may alternatively be set as environment variables. -->
        <!-- E.g., `DRUPAL_VERSION=V8 ./vendor/bin/phpunit` -->
        <env name="DRUPAL_ROOT" value="/var/www/docroot"/>
        <env name="DTT_BASE_URL" value="http://web"/>
        <env name="SIMPLETEST_BASE_URL" value="http://web"/>
        <env name="SIMPLETEST_DB" value="mysql://drupal:123@db/drupal"/>
    </php>
    <filter>
        <!-- whitelist needed for code coverage generation to work -->
        <whitelist>
          <directory>modules/common/src</directory>
          <directory>modules/metastore/src</directory>
          <directory>modules/metastore/modules/metastore/src</directory>
          <directory>modules/metastore/modules/metastore_search/src</directory>
          <directory>modules/metastore/modules/metastore_admin/src</directory>
          <directory>modules/datastore/src</directory>
          <directory>modules/frontend/src</directory>
          <directory>modules/harvest/src</directory>
          <directory>modules/harvest/modules/harvest_dashboard/src</directory>
          <directory>modules/json_form_widget/src</directory>
          <!-- By definition test classes have no tests. -->
          <exclude>
            <directory>modules/common/src/Tests</directory>
            <directory suffix="Test.php">./</directory>
            <directory suffix="TestBase.php">./</directory>
          </exclude>
        </whitelist>
    </filter>
</phpunit>
