<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="web/core/tests/bootstrap.php"
         verbose="true"
         colors="true">
    <coverage>
        <include>
            <directory>src</directory>
            <directory>modules</directory>
        </include>
        <exclude>
            <directory>modules/common/tests</directory>
            <directory>modules/datastore/tests</directory>
            <directory>modules/datastore/modules/datastore_mysql_import/tests</directory>
            <directory>modules/dkan_js_frontend/tests</directory>
            <directory>modules/frontend/tests</directory>
            <directory>modules/harvest/tests</directory>
            <directory>modules/json_form_widget/tests</directory>
            <directory>modules/data_dictionary_widget/tests</directory>
            <directory>modules/metastore/tests</directory>
            <directory>modules/metastore/modules/metastore_admin/tests</directory>
            <directory>modules/metastore/modules/metastore_search/tests</directory>
            <directory>modules/sample_content/tests</directory>
            <directory suffix="TestBase.php">./</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="default">
            <directory>.</directory>
            <exclude>vendor</exclude>
            <exclude>web</exclude>
        </testsuite>
    </testsuites>
</phpunit>
