#context_ui_dialog-context-ui .item-list {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
}
#context_ui_dialog-context-ui a, #context_ui_dialog-context-ui li a.active {
  color: #222;
}
#context_ui_dialog-context-ui ul {
	margin: 0;
}
#context_ui_dialog-context-ui ul li {
	padding: 4px 0;
	list-style: none;
}

#context_ui_dialog-context-ui .buttons {
  padding-top:15px;
}

#context_ui_dialog-context-ui div.admin-pane-condition,
#context_ui_dialog-context-ui div.admin-pane-reaction-theme,
#context_ui_dialog-context-ui div.admin-pane-reaction-theme_html {
	display: none;
}

.boxes-box-editing {
  background: none repeat scroll 0 0 #EEEEDD;
  display: inline-block;
  padding: 3px;
}

body.context-editing div.contextual-links-wrapper {
	right: 0;
	top: 40px;
}

#context_ui_dialog-context-ui a.context_ui_dialog-stop,
#context_ui_dialog-context-ui a:link.context_ui_dialog-stop,
#context_ui_dialog-context-ui a:visited.context_ui_dialog-stop {
  float:right;
  padding-top:18px;
  color: #ad3f00;
}

form.context-editing li.context-editable {
  opacity: .2;
}
form.context-editing li.context-editing {
  visibility : visible;
  display : list-item;
  opacity: 1;
}
#context_ui_dialog-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #fff;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555');
}
#context_ui_dialog-context-ui {
  width: 550px;
  position:fixed;
  background:#fff;
  color:#222;
  top:140px;
  display:none;
  z-index:400;
  padding:10px;
  font-weight:bold;
  border:1px solid #ddd;
  border-left:0;
  border-radius:0 6px 6px 0;
  /* Shadow */
  -moz-box-shadow: 3px 3px 4px #555;
  -webkit-box-shadow: 3px 3px 4px #555;
  box-shadow: 3px 3px 4px #555;
}

.context-ui-dialog-open {
  border-radius:0 6px 6px 0;
  position: absolute;
  background:#fff;
  color:#222;
  top: 50px;
  padding: 10px;
  width: 55px;
  right:-76px;
  border:1px solid #ddd;
  border-left:0;
  font-size:12px;
  /* Shadow */
  -moz-box-shadow: 3px 3px 4px #555;
  -webkit-box-shadow: 3px 3px 4px #555;
  box-shadow: 3px 3px 4px #555;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555');
}
