<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false"
         bootstrap="boot.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="true">
    <testsuites>
        <testsuite name="DKAN Harvest Test Suite">
            <file>dkan_harvest/DatajsonHarvestMigrationTest.php</file>
            <file>dkan_harvest/DatajsonHarvestMigrationScenariosTest.php</file>
            <file>dkan_harvest/DkanHarvestDataJsonTest.php</file>
            <file>dkan_harvest/DkanHarvestSourcesTest.php</file>
            <file>dkan_harvest/DkanHarvestTest.php</file>
            <file>dkan_harvest/HarvestSourceTest.php</file>
            <file>dkan_harvest/HarvestSourceTypeTest.php</file>
            <file>dkan_harvest/HarvestCacheTest.php</file>
        </testsuite>
        <testsuite name="DKAN Workflow Test Suite">
            <!--<file>dkan_workflow/DkanWorkflowEmailTransition.php</file>
            <file>dkan_workflow/DkanWorkflowTest.php</file>-->
        </testsuite>
        <testsuite name="DKAN Dataset Test Suite">
            <file>dkan_dataset/getRemoteFileInfoTest.php</file>
            <file>dkan_dataset/reclineEmbedCacheTest.php</file>
        </testsuite>
        <testsuite name="DKAN Datastore Test Suite">
        </testsuite>
        <testsuite name="DKAN Datastore API Test Suite">
            <file>dkan_datastore_api/DkanDatastoreAPITest.php</file>
        </testsuite>
        <testsuite name="DKAN Migrate Base Test Suite">
            <!--<file>dkan_migrate_base/DeleteDuplicateDatasetsTest.php</file>
            <file>dkan_migrate_base/DKANMigrateBaseTest.php</file>-->
        </testsuite>
    </testsuites>

    <php>
        <ini name="display_errors" value="true"/>
        <includePath>.</includePath>
    </php>
</phpunit>
