@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Varela+Round&display=swap'); pre,

html, body, table, div, p, dl {
  font-size: 16px;
}
body {
  background-color: #ffffff;
  color: black;
  font-family: 'Lato', Roboto, Droid Sans, Helvetica Neue, sans-serif;
}
#titlearea {
  padding: 15px;
  display: flex;
  position:relative;
}
#projectlogo {
  padding: 0 20px 6px 0;
}
#projectdetails {
  position: absolute;
  bottom: 15px;
  left: 180px;
}
#projectname,
#projectnumber {
  font-family: 'Varela Round', 'Lato', Roboto, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 24px;
}
#search {
  position: absolute;
  top: 15px;
  right: 35px;
}
h1,h2,h3,h4 {
  font-family: 'Varela Round', 'Lato', Roboto, Droid Sans, Helvetica Neue, sans-serif;
  color: #0071bc;
}
h2 {
  margin-top: 2em;
}
h2:first-of-type {
  margin-top: 1em;
}
h3 {
  margin-top: 1.5em;
}
.PageDoc > .contents {
  margin: 20px;
}
.sm-dox {
  background-image: none;
  background-color: #0071bc;
}
.sm-dox a {
  background-image: none;
  text-shadow: none;
  color: #ffffff;
  font-family: 'Lato', Roboto, Droid Sans, Helvetica Neue, sans-serif;
}
.sm-dox a:hover {
  background-image: none;
  text-shadow: none;
  color: #ffffff;
  font-family: 'Lato', Roboto, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #002245;
  border-bottom: none;
}
.sm-dox ul a:hover {
  background-image: none;
  background-color: #002245;
}
.navpath ul {
  background-image: none;
  background-color: #ddd;
}
.navpath li {
  background-image:none;
}
.navpath li.navelem a,
.navpath li.navelem a:hover {
  color: #333;
  font-family: 'Lato', Roboto, Droid Sans, Helvetica Neue, sans-serif;
}
.navpath li a:after {
  content: ">";
  color: #999999;
  padding: 0 0 0 20px;
}
.navpath li:last-of-type a:after {
  content: "";
}
.memtitle {
  padding: 8px 20px 8px 8px;
}
.memproto {
  box-shadow: none;
}
.memdoc,
dl.reflist dd{
  background-image: none;
  border: 1px solid #A8B8D9;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}
h2.groupheader {
  border-bottom: 1px solid #112e51;
  color: #112e51;
}
dl.note {
  margin-left: 0;
  padding-left: 3px;
  border-left: 5px solid;
  border-color: #42b983;
  background: #cbedd3;
  padding: 10px;
}
dl.note dt,
dl.warning dt {
  display: none;
}
dl.note dd,
dl.warning dd {
  margin: 6px;
}
dl.warning {
  margin-left: 0;
  padding-left: 3px;
  border-left: 5px solid;
  border-color: #f04543;
  background: #fccfc7;
  padding: 10px;
}
div.fragment,
tt,
code {
  color: #e74c3c;
  padding: 1px 5px;
  background-color: #fafafa;
  border: solid 1px #e1e4e5;
  font-size: 13px;
  line-height: 1em;
}
a {
  color: #0071bc;
  border: none;
}
a:hover {
  color: #205493;
}
.contents a:visited {
  color: #205493;
}
#nav-tree .selected {
  background-image: none;
  background-color: #002245;
}
@media screen and (min-width: 876px) {

}
