version: 2
jobs:
  build:
    parallelism: 4
    machine:
      image: circleci/classic:latest
    environment:
      TEST_RESULTS: /tmp/test-results
      DKTL_CHOWN: False
    steps:
      - checkout
      - run:
          name: Package DKAN
          command: |
            mkdir /home/circleci/dkan
            mv /home/circleci/project/* /home/circleci/dkan
      - run:
          name: Install DKTL
          command: |
            cd ~
            git clone -b exit https://github.com/GetDKAN/dkan-tools.git
            chmod 777 ./dkan-tools/bin/dktl
      - run:
          name: Install site
          command: |
            export PATH=$PATH:~/dkan-tools/bin
            cd ~/project
            dktl init
            mv ~/dkan .
            dktl make
            bash -c "
            dktl drush site-install -y
            exit 0
            "

      - run:
          name: Run tests
          command: |
            export PATH=$PATH:~/dkan-tools/bin
            circleci tests glob dkan/test/phpunit/*/*.php | circleci tests split --split-by=filesize




