body,
div.sphinxsidebar h3, div.sphinxsidebar h4,
div.admonition p.admonition-title,
div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
  font-family: 'Lato',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
a, a.reference {
  color: #0071bc;
  border: none;
}
a:hover, a.reference:hover {
  color: #205493;
  border-bottom: 1px solid #205493;
}
h1.logo {
  display: none;
}
h1,h2 { 
  color: #0071bc 
}
h3 {
  color: #112e51;
}
div.body h3 {
  font-size: 140%;
}

div.sphinxsidebarwrapper p.logo {
  margin: -1rem 0 1rem 0;
  text-align: left;
}
div.sphinxsidebarwrapper h3 {
  display: none;
}
div.sphinxsidebarwrapper #searchbox h3 {
  display: block;
}
#searchbox {
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
div.sphinxsidebar ul ul {
  list-style: none;
}
div.sphinxsidebar ul.current {
  margin-left: -1.75rem;
}
div.sphinxsidebar a.reference {
  border-bottom: none;
  border-left: .5rem solid transparent;
  box-sizing: border-box;
  display: inline-block;
  line-height: 1.4;
  padding: .35rem 1rem .35rem 1.25rem;
  width: 100%;
  transition: border 0.5s ease;
}
div.sphinxsidebar a.reference:hover {
  border-bottom: none;
  color: #0071bc;
}
div.sphinxsidebar li.toctree-l1.current > a.reference {
  border-left-color: #0071bc;
  color: #0071bc;
}
div.sphinxsidebar li.toctree-l1.current ul {
  border-left: .5rem solid #9bdaf1;
  margin-left: 0;
  padding-left: 1rem;
}
div.admonition p.admonition-title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
}
div.admonition {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left-width: 5px;
}
@media screen and (min-width: 876px) {
  div.document {
    width: 100%;
    margin: 0;
  }
  div.footer {
    width: 80%;
    position: fixed;
    bottom: 0;
    right: 20px;
    margin: 0;
    background: rgba(255,255,255,.85);
    padding: 10px;
  }
  div.footer a {
    text-decoration: none;
  }
  div.footer a:hover {
    border-bottom: 1px solid #888;
  }
  div.bodywrapper {
    margin: 0 0 0 20%;
  }
  div.body {
    max-width: 90%;
    margin: 50px auto;
  }
  div.sphinxsidebar {
    width: 20%;
  }
  div.sphinxsidebarwrapper {
    width: auto;
    margin: 20px 18px;
  }
}