/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #4D4D4D;
  background-color: #00536B;
}
a {
  color: #005772;
  text-decoration: none;
}
a:link, a:visited {
  color: #0062A0;
  text-decoration: none;
}
a:link, a:visited {
  color: #0062A0;
  text-decoration: none;
}
a:hover {
  color: #001d26;
  text-decoration: underline;
}
p {
  margin: 0 0 9px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
p small {
  font-size: 11px;
  color: #999999;
}
.lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}
h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 18px;
}
h3 {
  font-size: 18px;
  line-height: 27px;
}
h3 small {
  font-size: 14px;
}
h4,
h5,
h6 {
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}
ul,
ol {
  padding: 0;
  margin: 0 0 9px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 18px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 18px;
}
dt,
dd {
  line-height: 18px;
}
dt {
  font-weight: bold;
  line-height: 17px;
}
dd {
  margin-left: 9px;
}
.dl-horizontal dt {
  float: left;
  width: 120px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 130px;
}
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.muted {
  color: #999999;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #ddd;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.5px;
}
blockquote small {
  display: block;
  line-height: 18px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 18px;
  font-style: normal;
  line-height: 18px;
}
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12.025px;
  line-height: 18px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
pre.prettyprint {
  margin-bottom: 18px;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
form {
  margin: 0 0 18px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #eee;
}
legend small {
  font-size: 13.5px;
  color: #999999;
}
label,
input,
button,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
input,
button,
select,
textarea {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}
input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
label input,
label textarea,
label select {
  display: block;
}
input, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */

  line-height: normal;
  cursor: pointer;
  background-color: transparent;
  border: 0 \9;
  /* IE9 and down */

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
input[type="image"] {
  border: 0;
}
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  background-color: #ffffff;
  background-color: initial;
  border: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
}
select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 28px;
}
input[type="file"] {
  line-height: 18px \9;
}
select {
  width: 220px;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="image"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
textarea {
  height: auto;
}
input[type="hidden"] {
  display: none;
}
.radio,
.checkbox {
  min-height: 18px;
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
input,
textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
input,
textarea,
.uneditable-input {
  margin-left: 0;
}
input.span12, textarea.span12, .uneditable-input.span12 {
  width: 930px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
  width: 850px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
  width: 770px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
  width: 690px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
  width: 610px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
  width: 530px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
  width: 450px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
  width: 370px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
  width: 290px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
  width: 210px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
  width: 130px;
}
input.span1, textarea.span1, .uneditable-input.span1 {
  width: 50px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
  border-color: #ddd;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

/**** Header ****/
#zone-branding-wrapper {
  background-color: #005974;
  background-image: -moz-linear-gradient(top, #005D7A, #00536B);
  background-image: -ms-linear-gradient(top, #005D7A, #00536B);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#005D7A), to(#00536B));
  background-image: -webkit-linear-gradient(top, #005D7A, #00536B);
  background-image: -o-linear-gradient(top, #005D7A, #00536B);
  background-image: linear-gradient(top, #005D7A, #00536B);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005d7a', endColorstr='#00536b', GradientType=0);
  color: white;
  padding: 5px 10px 8px;
  height: 52px;
}
#zone-menu-wrapper {
  position: relative;
  padding-top: 20px;
}
#zone-menu-wrapper::before {
  top: 0;
}
#zone-menu-wrapper::after,
#zone-menu-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 7px;
  background: white;
  border-bottom: 1px solid #C9C9C9;
}
.branding-data {
  position: relative;
}
.logo-img {
  position: absolute;
}
#section-header a {
  color: #fff;
}
#block-system-main-menu li {
  display: inline-block;
  line-height: 18px;
  margin: 0px;
  padding: 0 1px;
}

#block-system-main-menu li a.active {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.08);
}
#block-system-main-menu li a {
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 6px 3px 6px;
}
#block-system-main-menu {
  float: right;
  margin: 17px 330px 0 0;
}

/** Breadcrumb **/
.breadcrumb {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: 20px;
  box-shadow: 0 0 transparent;
  padding: 7px 14px;
  margin: 0 0 10px;
  list-style: none;
}
.breadcrumb li {
  display: inline-block;
  text-shadow: 0 1px 0 white;
  margin-right: .3em;
}
.breadcrumb li span {
  display: none;
}
.breadcrumb li::after {
  content: " / ";
}
.breadcrumb li:last-of-type::after {
  content: "";
}
.breadcrumb li a.active {
  font-weight: bold;
  color: #505050;
}
.breadcrumb a {
  color: #505050;
  line-height: 28px;
}
li {
  line-height: 18px;
  text-align: -webkit-match-parent;
}
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  width: 1.175em;
}

/*** Block ***/
#zone-content .block {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin-bottom: 20px;
}
#zone-content .block-inner:last-child {
  margin-bottom: 0;
  padding-bottom: 20px;
}
#zone-content .block-inner:first-child {
  margin-top: 0;
  padding-top: 20px;
}
#zone-content .block-inner {
  padding: 0 25px;
  margin: 20px 0;
}
#zone-content #region-sidebar-first .block-inner {
  padding: 0;
  margin: 0;
}
#zone-content #region-sidebar-first .content {
  padding: 20px 15px;
}

/*** Forms ***/
.stages {
  margin: 0;
  list-style: none;
  *zoom: 1;
  color: #aeaeae;
  counter-reset: stage;
  margin: -20px -25px 20px;
  overflow: hidden;
}
.stages a:link,
.stages a:visited,
.stages a {
  color: #FFF;
}
.stages:before,
.stages:after {
  display: table;
  content: "";
}
.stages:after {
  clear: both;
}
.stages li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 27px;
  counter-increment: stage;
  width: 33.33%;
  background-color: #ededed;
  float: left;
  padding: 10px 20px;
  position: relative;
  z-index: 0;
}
.stages li:before {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  content: counter(stage);
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 5px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #aeaeae;
  z-index: 1;
}
.stages li:after {
  left: 0;
  border: solid rgba(237, 237, 237, 0);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #ededed;
  border-bottom-color: #ededed;
  border-width: 29px;
  top: 50%;
  margin-top: -29px;
  margin-left: -30px;
}
.stages li.first,
.stages li.first .highlight {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.stages li.last {
  position: relative;
  right: -1px;
}
.stages li.last,
.stages li.last .highlight {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
.stages li.first:after {
  content: none;
  border: none;
}
.stages li.active:after {
  border-color: rgba(140, 198, 138, 0);
  border-top-color: #8cc68a;
  border-bottom-color: #8cc68a;
}
.stages li.complete:after {
  border-color: rgba(197, 226, 196, 0);
  border-top-color: #c5e2c4;
  border-bottom-color: #c5e2c4;
}
.stages.stage-3 li.complete:first-child:after {
  content: none;
}
.stages li.active,
.stages li.complete {
  background: none;
}
.stages li.active:before {
  color: #8cc68a;
  background: #ffffff;
}
.stages li.complete:before {
  color: #c5e2c4;
  background: #eef6ed;
}
.stages li .highlight {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 52px;
  border: none;
  text-align: left;
  text-decoration: none;
  line-height: 27px;
  z-index: -1;
}
.stages li.active .highlight {
  color: #ffffff;
  background: #8cc68a;
}
.stages li.complete .highlight {
  color: #eef6ed;
  background: #c5e2c4;
}
.node-form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #333;
  float: left;
  padding: 0 10px 0 0;
  font-weight: bold;
  font-size: 14px;
}
#dataset-node-form .field-group-fieldset legend {
  display: none;
}
#resource-node-form #edit-body-und-0-value,
#dataset-node-form #edit-body-und-0-value {
  margin-bottom: 0;
}
form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#resource-node-form .form-textarea-wrapper,
#dataset-node-form .form-textarea-wrapper {
  margin-left: 130px;
}
#data-and-resources {
  margin-bottom: 25px;
}
.node-dataset #data-and-resources label {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  color: inherit;
}
#block-dkan-forms-dkan-forms-dataset-help h2.block-title::before{
  content: "\f05a";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  font-size: 1.2em;
  line-height: 1;
  position: relative;
  top: 1px;
  margin-right: 0.4em;
}
.filter-help,
.filter-wrapper {
  padding: 0;
}
.form-item-title {
  height: 65px;
}
.form-item-title input {
  height: 55px;
  float: none;
}
#resource-node-form .filter-guidelines .tips,
#dataset-node-form .filter-guidelines .tips {
  display: none;
}
label.for=["edit-field-upload-und-0"] {
  display: none;
}
.horizontal-tabs fieldset.horizontal-tabs-pane {
  padding: 0;
}
#resource-edit-title {
  font-size: 19px;
  margin: 53px 0 0px 0px;
}
#edit-field-upload {
}
#resource-node-form #edit-field-upload-und-0-ajax-wrapper input {
  width: auto;
  font-size: 12px;
  height: auto;
  margin: 0 5px;
  display: inline-block;
}
.group-data .field-group-htab {
  padding: 0;
}
.group-data input {
  width: 100%;
  height: 45px;
}
#edit-field-upload-und-0-ajax-wrapper label {
  text-align: left;
  float: none;
  font-weight: normal;
  width: 100px;
  display: inline-block;
  margin: 5px 0;
  font-size: 13px;
}
#resource-node-form #edit-field-upload {
  font-size: 12px;
  padding: 12px;
  width: 495px;
}
#resource-node-form #edit-field-upload legend {
  font-size: 14px;
  padding: 10px 0 0 0;
  line-height: 20px;
  margin: 0;
}
#resource-node-form fieldset.collapsible div.fieldset-wrapper {
  padding: 5px;
}
#resource-node-form fieldset.collapsed {
  padding: 15px 0;
}
#resource-node-form input.autocomplete-deluxe-form,
#dataset-node-form input.autocomplete-deluxe-form {
  border: 0;
  background: transparent;
  box-shadow: none;
  font-size: 14px;
  margin: 0;
}
#edit-field-upload,
input#edit-field-link-api-und-0-url,
#resource-node-form textarea,
#resource-node-form input,
#dataset-node-form textarea,
#dataset-node-form input {
  font-size: 16px;
  padding: 6px  12px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  display: inline-block;
  margin-bottom: 9px;
  line-height: 18px;
  color: #555;
  background-color: white;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#edit-field-format .description,
#edit-field-tags .description {
  top: 10px;
  left: 145px;
  font-size: 14px;
  color: #999;
}
#edit-field-format .autocomplete-deluxe-container,
#edit-field-tags .autocomplete-deluxe-container {
  width: 505px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #CCC;
}
.group-data .horizontal-tabs,
.form-item-title input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 520px;
  float: right;
}
.form-item-title .description {
  left: 145px;
  font-size: 18px;
  top: 15px;
  color: #999;
}
#edit-body .description {
  left: 145px;
  font-size: 15px;
  top: 4px;
  color: #999;
}
input#edit-title {
  height: 55px;
  float: none;
}
.form-item-title label {
  margin-top: 10px;
  font-size: 18px;
}
#edit-field-format-und-values,
#dataset-node-form #edit-field-tags-und-term-entry {
  font-size: 16px;
  padding: 4px;
  background-position: 99% 8px;
}
#edit-field-format label,
#edit-field-tags-und label {
 margin-top: 15px;
}
#edit-field-license-und-select {
  padding: 0 5px;
}
.select-or-other .form-item input.select-or-other-other {
  margin: 0 0 0 130px;
}
#dataset-node-form #edit-field-tags-und-add-button {
  font-size: 13px;
  margin: 0px 0 0 15px;
  padding: 5px 7px;
}
#dataset-node-form input#edit-field-tags-und-term-entry.throbbing {
  background-position: 99% -12px; /* LTR */
}
html.js input.form-autocomplete {
  background-position: 99% 10px;
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 99% -8px; /* LTR */
}
.form-autocomplete {
  font-size: 12px;
}
.at-term-list {
  margin-bottom: 5px;
}
.at-term-action-remove {
  color: #962F2F;
  border: 1px solid #eaeaea;
  border-left: 0;
  padding: 2px;
}
.at-term-text {
  border: 1px solid #eaeaea;
  padding: 2px;
}
.at-term {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #E4E4E4;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #F4F4F4), color-stop(50%, #F0F0F0), color-stop(52%, #E8E8E8), color-stop(100%, #EEE));
  background-image: -webkit-linear-gradient(top, #F4F4F4 20%, #F0F0F0 50%, #E8E8E8 52%, #EEE 100%);
  background-image: -moz-linear-gradient(top, #F4F4F4 20%, #F0F0F0 50%, #E8E8E8 52%, #EEE 100%);
  background-image: -o-linear-gradient(top, #F4F4F4 20%, #F0F0F0 50%, #E8E8E8 52%, #EEE 100%);
  background-image: -ms-linear-gradient(top, #F4F4F4 20%, #F0F0F0 50%, #E8E8E8 52%, #EEE 100%);
  background-image: linear-gradient(top, #F4F4F4 20%, #F0F0F0 50%, #E8E8E8 52%, #EEE 100%);
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  border: 1px solid #AAA;
  line-height: 13px;
  padding: 3px 5px;
  margin: 3px;
  position: relative;
  cursor: default;
}
#field-tags-wrapper .path-form label,
#edit-path label,
#edit-field-tags label,
#edit-field-format label,
.form-item-title label,
.form-item-body-und-0-value label,
.field-group-htabs.group-data label,
#edit-field-tags-und label,
#edit-field-license label {
  width: 120px;
  text-align: right;
  margin-top: 18px;
}
#resource-node-form .form-item-title {
  clear: both;
}
.horizontal-tabs .compact-form-wrapper {
  position: inherit;
}
.horizontal-tabs .compact-form-description {
  top: 53px;
  left: 12px;
}
#resource-node-form .horizontal-tabs input {
  height: 55px;
}
.form-item .description.compact-form-description {
  font-size: 16px;
  color: #999;
}
.compact-form-wrapper {
  position: relative;
  text-align: left;
}
.compact-form-description,
.compact-form-label {
  position: absolute;
  top: 1px;
  left: 5px;
  z-index: 1;
  font-size: .9em;
}
.compact-form-description {
  position: absolute;
  top: 35px;
  left: 5px;
  z-index: 1;
  font-size: .9em;
}
#field-tags-wrapper .path-form {
  height: 30px;
}
#form-item-path-alias {
  position: relative;
}
.form-item-path-alias {
  margin: 0;
}
#field-tags-wrapper .path-form .add-on {
  position: absolute;
  top: 3px;
  left: 130px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  width: auto;
  min-width: 16px;
  height: 19px;
  padding: 4px 6px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  text-shadow: 0 1px 0 white;
  vertical-align: middle;
  background-color: #EEE;
  border: 1px solid #CCC;
  z-index: 1;
}
.compact-form-wrapper {
  clear: both;
}
#dataset-node-form .form-item-path-alias input {
  top: 3px;
  font-size: 16px;
  position: absolute;
  left: 194px;
}
#url-edit-preview {
  width: 500px;
  padding: 0px 0 15px 100px;
  float: left;
  position: relative;
  top: 0;
}
#url-edit-label,
#url-edit-prefix,
#url-slug,
#url-edit-preview .btn-small {
  float: left;
}
#url-edit-label {
  padding: 0 5px 0 0;
  margin: -1px 0 0 0;
}
#url-edit-preview .btn-small {
  padding: 2px 6px 2px;
  font-size: 12px;
  margin: -3px 0 0 5px;
}
#url-slug {
  background-color: #EBE2BE;
  padding: 0 2px;
  margin: 0 2px;
}
#field-tags-wrapper {
  position: relative;
}
#edit-body {
  clear: both;
}
#edit-field-tags label {
  margin-top: 10px;
}
#edit-field-format .autocomplete-deluxe-throbber,
#edit-field-tags .autocomplete-deluxe-throbber {
  display: none;
}
.form-type-textarea label {
  margin: 10px 0 0 0;
}
#edit-field-license {
  position: relative;
  height: 50px;
}
#edit-field-license .select-or-other a {
  text-decoration: none;
  color: #000;
}
#edit-field-license .select-or-other {
  position: absolute;
  width: 400px
}
#edit-field-license label {
  margin-top: 3px;
}
#edit-field-license .icon-large {
  position: absolute;
  right: 240px;
  font-size: 22px;
  color: #AEAEAE;
  top: 19px;
}
#edit-field-license .description {
  position: absolute;
  width: 230px;
  right: 0;
  color: #AEAEAE;
  top: 7px;
}
#dataset-node-form a {
  color: #AEAEAE;
  text-decoration: underline;
}
.form-item, .form-actions {
  margin-bottom: 0;
}
#action-info {
  float: left;
  width: 50%;
  line-height: 1.2em;
  text-align: left;
  color: #707070;
  margin: 0 0 0 30px;
  font-size: 11px;
}
.form-actions {
  margin-left: -25px;
  margin-right: -25px;
  border-top: 1px solid #DDD;
  padding: 20px;
}
.form-actions input {
  float: right;
}

#dataset-node-form input#edit-next,
#dataset-node-form input#edit-submit {
  background-color: #206B82;
  background-image: -moz-linear-gradient(top, #30778D, #085871);
  background-image: -ms-linear-gradient(top, #30778D, #085871);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#30778D), to(#085871));
  background-image: -webkit-linear-gradient(top, #30778D, #085871);
  background-image: -o-linear-gradient(top, #30778D, #085871);
  background-image: linear-gradient(top, #30778D, #085871);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30778d', endColorstr='#085871', GradientType=0);
  border-color: #085871 #085871 #03202A;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #F7F7F7;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
  border-color: #EAEAEA #EAEAEA #C4C4C4;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

/** Blocks **/
h2.block-title {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-size: 14px;
  line-height: 1.3;
  padding: 7px 15px;
  border-bottom: 1px solid #D0D0D0;
  background-color: #F3F3F3;
  background-image: -moz-linear-gradient(top, whiteSmoke, #F0F0F0);
  background-image: -ms-linear-gradient(top, whiteSmoke, #F0F0F0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(whiteSmoke), to(#F0F0F0));
  background-image: -webkit-linear-gradient(top, whiteSmoke, #F0F0F0);
  background-image: -o-linear-gradient(top, whiteSmoke, #F0F0F0);
  background-image: linear-gradient(top, whiteSmoke, #F0F0F0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f0f0f0', GradientType=0);
}
.block .item-list li,
.item-list .nav-simple > li {
  font-size: 12px;
  line-height: 1.1666666666666667em;
  padding: 7px 25px;
  border-bottom: 1px dotted #CCC;
  margin: 0;
}
.block .item-list li > a,
.nav-simple li > a {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  display: block;
  color: #333;
  margin: -7px -15px;
  padding: 7px 15px;
}
#zone-content #region-sidebar-first #block-dkan-forms-dkan-forms-resource-nodes .content {
  padding: 0;
}
/** UI Tabs **/
#resource-node-form .horizontal-tabs ul.horizontal-tabs-list {
  background-color: transparent;
  border: 0;
}
#resource-node-form .horizontal-tabs ul.horizontal-tabs-list li #active-horizontal-tab {
  background: url(http://demo.ckan.org/base/images/sprite-ckan-icons.png) no-repeat -193px 0;
  display: block;
  text-indent: -9999px;
  width: 16px;
  margin: 0 0 0 28px;
  clip: auto;
}
#resource-node-form .horizontal-tabs ul.horizontal-tabs-list li a:hover {
  background-color: transparent;
}
#resource-node-form .horizontal-tabs ul.horizontal-tabs-list li {
  border: 0;
  background-color: transparent;
  min-width: 10em;
}
#resource-node-form .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button-1 .summary{
  background: url(http://demo.ckan.org/base/images/sprite-ckan-icons.png) no-repeat -160px 0;
}
#resource-node-form .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button-2 .summary{
  background: url(http://demo.ckan.org/base/images/sprite-ckan-icons.png) no-repeat -160px 0;
}
#resource-node-form .horizontal-tabs ul.horizontal-tabs-list li .summary{
  background: url(http://demo.ckan.org/base/images/sprite-ckan-icons.png) no-repeat -144px 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin: 0 3px;
}
#resource-node-form .field-group-htabs.group-data div.horizontal-tabs {
  border: 0;
}
#resource-node-form .form-item {
  margin: 0;
}
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #F7F7F7;
  background-image: -moz-linear-gradient(top, white, #EAEAEA);
  background-image: -ms-linear-gradient(top, white, #EAEAEA);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#EAEAEA));
  background-image: -webkit-linear-gradient(top, white, #EAEAEA);
  background-image: -o-linear-gradient(top, white, #EAEAEA);
  background-image: linear-gradient(top, white, #EAEAEA);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
  border-color: #EAEAEA #EAEAEA #C4C4C4;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
  font-weight: bold;
}
.btn:hover {
  color: #333;
  text-decoration: none;
  background-color: #E6E6E6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #085871;
}
.btn-primary,
a.btn-primary,
.btn-primary:hover,
.btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary {
  background-color: #206B82;
  background-image: -moz-linear-gradient(top, #30778D, #085871);
  background-image: -ms-linear-gradient(top, #30778D, #085871);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#30778D), to(#085871));
  background-image: -webkit-linear-gradient(top, #30778D, #085871);
  background-image: -o-linear-gradient(top, #30778D, #085871);
  background-image: linear-gradient(top, #30778D, #085871);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30778d', endColorstr='#085871', GradientType=0);
  border-color: #085871 #085871 #03202A;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.resource-list .btn {
  position: absolute;
  top: 0;
  right: 0;
}
#actions {
  float: right;
  padding: 5px 0 0 0;
}
#toolbar a.btn {
  color: #333;
}
#toolbar a.btn-primary {
  color: #FFF;
}
#toolbar .btn {
  padding: 0 10px 0 8px;
  border-color: #B7B7B7;
  line-height: 27px;
}
#toolbar li {
  display: inline-block;
  margin: 0 0 0 10px;
}
#toolbar li:last-of-type {
  margin-right: 0;
}
.format-label[data-format="csv"], .format-label[data-format*="csv"] {
  width: 32px;
  height: 35px;
  background-position: -192px -62px;
}
.format-label[data-format="csv"], .format-label[data-format*="csv"] {
  width: 32px;
  height: 35px;
  background-position: -192px -62px;
}
.format-label:last-child {
}
ul.resource-list .heading {
  color: black;
  font-size: 14px;
  font-weight: bold;
}
ul.resource-list p {
  margin: 0 0 9px;
}
ul.resource-list {
  margin: 0;
  padding: 0;
}
ul.resource-list li {
  position: relative;
  margin: 0;
  padding: 0 0 0 40px;
}
.resource-list li .format-label {
  position: absolute;
  top: 0;
  left: 0;
}
.format-label {
  width: 32px;
  height: 35px;
  background-position: 0px -62px;
}
.format-label {
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url("../images/sprite-ckan-icons.png");
  background-repeat: no-repeat;
  background-position: 16px 16px;
  text-indent: -900em;
  background: url("../images/sprite-resource-icons.png") no-repeat 0 0;
}
.node-dataset .field-name-field-tags {
  margin: 0;
  list-style: none;
  padding: 10px;
  min-height: 26px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: whiteSmoke;
  border: 1px solid #EEE;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.dtag {
  float: left;
}
ul.tag-list li {
  display: inline;
}
.dtag a,
.field-name-field-tags .field-item a {
  background: url("../images/background-tag.png") no-repeat -13px center;
  position: relative;
  display: block;
  font-size: 11px;
  line-height: 27px;
  color: #005772;
  padding-left: 10px;
  padding-right: 5px;
  margin: 0 20px 0 0;
  float: left;
}
.dtag a:before,
.field-name-field-tags .field-item a:before {
  content: "";
  background: url("../images/background-tag.png") no-repeat center left;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: -11px;
  width: 11px;
}
.field-name-field-additional-info table {
  border: 1px solid #DDD;
  border-collapse: separate;
  border-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.field-name-field-additional-info thead th {
  font-weight: bold;
  border: 0;
}
.field-name-field-additional-info td, th {
  width: 50%;
  border-left: 1px solid #DDD;
  border-top: 1px solid #DDD;
}
.field-name-field-additional-info .field-label {
  padding: 5px;
  font-size: 18px;
  line-height: 27px;
}

.nav-simple .ckan-icon {
  position: relative;
  top: 0px;
}
.ckan-icon {
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url("../images/sprite-ckan-icons.png");
  background-repeat: no-repeat;
  background-position: 16px 16px;
}
.nav-simple {
  margin: 0;
  list-style: none;
  padding-bottom: 0;
}
.nav-simple > li {
  font-size: 12px;
  line-height: 1.1666666666666667em;
  padding: 7px 15px;
  border-bottom: 1px dotted #CCC;
}
module-narrow .nav-item > a {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.nav > li > a {
  display: block;
}
.nav-item > a {
  color: #333;
  margin: -7px -25px;
  padding: 7px 25px;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #EEE;
}
#zone-content #block-dkan-dataset-dkan-dataset-social .content {
  padding: 0;
  margin: 0;
}
.ckan-icon:last-child {
  *margin-left: 0;
}
.ckan-icon-fb {
  width: 16px;
  height: 16px;
  background-position: 0px 0;
}
.ckan-icon-gplus {
  width: 16px;
  height: 16px;
  background-position: -16px 0;
}
.ckan-icon-twitter {
  width: 16px;
  height: 16px;
  background-position: -32px 0;
}
.ckan-icon-email {
  width: 16px;
  height: 16px;
  background-position: -48px 0;
}
.ckan-icon-share {
  width: 16px;
  height: 16px;
  background-position: -64px 0;
}
.ckan-icon-feed {
  width: 16px;
  height: 16px;
  background-position: -80px 0;
}
.ckan-icon-calendar {
  width: 16px;
  height: 16px;
  background-position: -96px 0;
}
.ckan-icon-file {
  width: 16px;
  height: 16px;
  background-position: -112px 0;
}
.ckan-icon-lock {
  width: 16px;
  height: 16px;
  background-position: -128px 0;
}
.ckan-icon-link-file {
  width: 16px;
  height: 16px;
  background-position: -144px 0;
}
.ckan-icon-link-plugin {
  width: 16px;
  height: 16px;
  background-position: -160px 0;
}
.ckan-icon-upload-file {
  width: 16px;
  height: 16px;
  background-position: -176px 0;
}
.ckan-icon-callout {
  width: 16px;
  height: 16px;
  background-position: -192px 0;
}
.ckan-icon-circle-cross {
  width: 17px;
  height: 17px;
  background-position: 0px -16px;
}
.ckan-icon-circle-add {
  width: 17px;
  height: 17px;
  background-position: -17px -16px;
}
.ckan-icon-flame {
  width: 17px;
  height: 17px;
  background-position: -34px -16px;
}
.ckan-icon-search {
  width: 17px;
  height: 17px;
  background-position: -51px -16px;
}
.ckan-icon-large-lock {
  width: 20px;
  height: 20px;
  background-position: 0px -33px;
}
.ckan-icon-photo {
  width: 20px;
  height: 20px;
  background-position: -20px -33px;
}
.ckan-icon-add {
  width: 20px;
  height: 20px;
  background-position: -40px -33px;
}
.ckan-icon-home {
  width: 20px;
  height: 20px;
  background-position: -60px -33px;
}
.ckan-icon-rewind {
  width: 20px;
  height: 20px;
  background-position: -80px -33px;
}
.ckan-icon-tools {
  width: 20px;
  height: 20px;
  background-position: -100px -33px;
}
.ckan-icon-flag {
  width: 20px;
  height: 20px;
  background-position: -120px -33px;
}
.ckan-icon-clipboard {
  width: 20px;
  height: 20px;
  background-position: -140px -33px;
}
.ckan-icon-share {
  width: 20px;
  height: 20px;
  background-position: -160px -33px;
}
.ckan-icon-info {
  width: 20px;
  height: 20px;
  background-position: -180px -33px;
}
.ckan-icon-download {
  width: 20px;
  height: 20px;
  background-position: -200px -33px;
}
.ckan-icon-star {
  width: 20px;
  height: 20px;
  background-position: -220px -33px;
}
.ckan-icon-info-flat {
  width: 20px;
  height: 20px;
  background-position: -240px -33px;
}
.ckan-icon-tag {
  width: 20px;
  height: 20px;
  background-position: -260px -33px;
}
.ckan-icon-plus {
  width: 20px;
  height: 20px;
  background-position: -280px -33px;
  width: 16px;
}
.ckan-icon-head {
  width: 20px;
  height: 20px;
  background-position: -300px -33px;
}
.ckan-icon-arrow-e {
  width: 20px;
  height: 20px;
  background-position: -320px -33px;
  width: 16px;
}
.ckan-icon-bookmark {
  width: 25px;
  height: 25px;
  background-position: 0px -53px;
}

/** Front page **/
.front #zone-menu-wrapper {
  padding: 0;
}
.front #zone-menu-wrapper::after {
  height: 0;
  border: 0;
  background: none;
}
.zone-postscript-wrapper {
  position: relative;
}
.front .zone-postscript {
  padding: 20px 0;
}
.zone-postscript-wrapper::before,
.zone-postscript-wrapper::after,
.zone-preface-wrapper::before,
.zone-preface-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 7px;
  background: white;
  border-color: #C9C9C9;
  border-style: solid;
  border-width: 0;
  top: 0;
  border-bottom-width: 1px;
}
.front .zone-preface-wrapper {
  background: url(../images/homepage_background.png) 100% 75% repeat-y;
  padding-bottom: 0;
  min-height: 0;
  position: relative;
  padding-top: 27px;
}
.front .zone-preface-wrapper::after {
  background-color: rgba(0, 0, 0, 0.09);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15), transparent);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.15), transparent);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.15)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15), transparent);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.15), transparent);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.15), transparent);
  background-repeat: repeat-x;
  background-color: transparent;
  top: 7px;
  bottom: auto;
  height: 5px;
  border: 0;
  visibility: visible;
}
#block-dkan-front-dkan-demo-front {
  margin-top: 30px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  width: 460px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
}
#block-dkan-front-dkan-demo-front .block-inner {
  padding: 20px 25px;
  margin: 0 0 -2px 0;
}
#block-dkan-front-dkan-demo-front .block-inner h2.block-title {
  font-size: 18px;
  border: 0;
  background: none;
  padding: 0;
  line-height: 36px;
}
#block-dkan-front-dkan-demo-front .media-overlay {
  position: relative;
}
#block-dkan-front-dkan-demo-front .media-overlay .media-heading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px 10px;
  margin: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  color: white;
  z-index: 1;
  line-height: 18px;
  margin-right: -10px;
}
#zone-postscript .view {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin-bottom: 20px
}
#zone-postscript .attachment .view-content {
  border: 0;
  background: none;
}
#zone-postscript .attachment .view-content .views-row {
  border-bottom: 1px dotted #CCC;
  margin: 0 -15px;
  padding: 0 15px;
}
#zone-postscript .attachment .view-content .views-row-last {
  border: 0;
}
#zone-postscript .view-content {
  padding: 15px 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-size: 14px;
  line-height: 1.3;
  padding: 7px 15px;
  border-bottom: 1px solid #D0D0D0;
  background-color: #F3F3F3;
  background-image: -moz-linear-gradient(top, whiteSmoke, #F0F0F0);
  background-image: -ms-linear-gradient(top, whiteSmoke, #F0F0F0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(whiteSmoke), to(#F0F0F0));
  background-image: -webkit-linear-gradient(top, whiteSmoke, #F0F0F0);
  background-image: -o-linear-gradient(top, whiteSmoke, #F0F0F0);
  background-image: linear-gradient(top, whiteSmoke, #F0F0F0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f0f0f0', GradientType=0);
}
.media-image, .media .gravatar {
  position: relative;
  float: left;
  margin: 0px 10px 0 0;
  overflow: hidden;
}
h3.media-heading a {
  color: #333;
}
.media-heading {
  font-size: 14px;
  margin: 5px 0 2px 0;
}
.media-image img {
  border: 1px solid #ccc;
  width: 100px;
  height: 60px;
}
#zone-content #region-sidebar-first .block-facetapi .content {
  padding: 0;
}
#zone-content #region-sidebar-first .block-facetapi .content li {
  list-style: none;
  padding: 0;
}
.nav-facet .nav-item > a:hover::after {
  width: 17px;
  height: 17px;
  background-position: -17px -16px;
}
#zone-content #region-sidebar-first .block-facetapi .content li a.facetapi-active:hover::after,
#zone-content #region-sidebar-first .block-facetapi .content li a.facetapi-active::after {
  *margin-right: .3em;
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
  width: 17px;
  height: 17px;
  background-image: url("../images/sprite-ckan-icons.png");
  background-repeat: no-repeat;
  background-position: 0 -16px;
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -8px;
}
#zone-content #region-sidebar-first .block-facetapi .content li a.facetapi-active::before {
  content: "";
  background: url("../images/background-tag.png") no-repeat 0 center;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: -11px;
  width: 11px;
}
#zone-content #region-sidebar-first .block-facetapi .content li a.facetapi-active {
  background: url("../images/background-tag.png") no-repeat -13px center;
  position: relative;
  display: block;
  font-size: 11px;
  line-height: 27px;
  color: #005772;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  left: 4px;
  margin-right: 2px;
  padding: 1px 10px;
}
#zone-content #region-sidebar-first .block-facetapi .content li a {
  margin: 0;
}
#zone-content #region-sidebar-first .block-facetapi .content li a:hover {
  background-color: #EEE;
  text-decoration: none;
}
#zone-content #region-sidebar-first .block-facetapi .content li a:hover::after {
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url("../images/sprite-ckan-icons.png");
  background-repeat: no-repeat;
  background-position: -17px -16px;
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -8px;
}
#edit-terms {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
#block-dkan-front-dkan-search-front {
  padding: 5px;
  margin-bottom: 10px;
  color: white;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  bottom: 60px;
  position: absolute;
}
#block-dkan-front-dkan-search-front .block-inner {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #005D7A;
  padding: 5px;
}
#block-dkan-front-dkan-search-front .views-exposed-form .views-exposed-widget {
  float: none;
  padding: 0px 10px;
}
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}
#block-dkan-front-dkan-search-front form {
  position: relative;
  margin: 0;
}
#block-dkan-front-dkan-search-front .views-submit-button {
  position: absolute;
  right: 10px;
  top: 12px;
}
#block-dkan-front-dkan-search-front .compact-form-label {
  position: absolute;
  top: 16px;
  left: 17px;
  z-index: 1;
  color: #999;
  font-weight: normal;
  font-size: 16px;
}
#block-dkan-front-dkan-search-front h2.block-title {
  border: 0;
  background: transparent;
  font-size: 18px;
  padding: 7px 15px 10px 15px;
}
#block-dkan-front-dkan-search-front input.form-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 10px;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  background-color: white;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.front #region-preface-second {
  position: relative;
  height: 405px;
}
#block-dkan-front-dkan-add-front {
  padding: 20px 25px;
  background: black;
  background: rgba(255, 255, 255, 0.93);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin: 30px 0 0 0;
}
#block-dkan-front-dkan-add-front::after {
  top: 0;
  left: 25px;
  border: solid rgba(255, 255, 255, 0);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: rgba(255, 255, 255, 0.93);
  border-width: 12px;
  margin-top: 7px;
}
#block-dkan-front-dkan-add-front h2.block-title {
  border: 0;
  background: transparent;
  padding: 0 0 5px 0;
}
a.icon-remove-sign {
  position: absolute;
  top: 35px;
  right: 7px;
  font-size: 20px;
  color: #ADAFAF;
  opacity: 1;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: black;
  text-shadow: 0 1px 0 white;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
a.icon-remove-sign::before {
  content: "\f057";
}
#block-views-popular-tags-block {
  position: absolute;
  bottom: 25px;
  width: 100%;
}
#block-views-popular-tags-block h2.block-title {
  background: url("../images/background-tag.png") no-repeat -13px center;
  position: relative;
  display: block;
  font-size: 11px;
  line-height: 27px;
  color: #005772;
  padding: 0 5px 0 10px;
  margin: 0 20px 0 0;
  float: left;
}
#block-views-popular-tags-block h2.block-title:before {
  content: "";
  background: url("../images/background-tag.png") no-repeat center left;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: -11px;
  width: 11px;
}
/** Footer **/
#section-footer {
  color: #CCDEE3;
}
#section-footer {
  background-color: #005974;
  background-image: -moz-linear-gradient(top, #005D7A, #00536B);
  background-image: -ms-linear-gradient(top, #005D7A, #00536B);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#005D7A), to(#00536B));
  background-image: -webkit-linear-gradient(top, #005D7A, #00536B);
  background-image: -o-linear-gradient(top, #005D7A, #00536B);
  background-image: linear-gradient(top, #005D7A, #00536B);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005d7a', endColorstr='#00536b', GradientType=0);
  color: white;
  padding: 5px 10px 3px;
  font-size: 12px;
  padding: 20px 0;
  position: relative;
}
#section-footer::before, #section-footer::after {
  display: table;
  content: "";
}
#section-footer::after {
  clear: both;
}
#section-footer::before, #section-footer::after {
  display: table;
  content: "";
}
#section-footer::after, #section-footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 7px;
  background: white;
  border-top: 1px solid #C9C9C9;
  top: 0;
  width: 100%;
}
/** Page **/
#page {
  background-color: #EFEFEF;
}
