.ctools-collapsible-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ctools-collapsible-container .ctools-collapsible-handle {
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  padding: 9px 21px 9px 12px;
  border-bottom-color: rgba(255, 255, 255, 0.1);
  background: #0A77BD;
}

.ctools-collapsible-container .ctools-collapsible-handle:after {
    font-family: "fontawesome";
    content: "\f077";
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 14px;
    top: 10px;
}

.ctools-collapsible-container.ctools-collapsed .ctools-collapsible-handle:after {
  content: "\f078";
}

.ctools-collapsible-content .harvest-error-log-table {
  margin: 0;
  margin-bottom: 20px;
}
