.pane-dkan-harvest-harvest-source-summary .summary-details {
  border-color: #ddd;
  border-width: 0 1px 1px 1px;
  border-style: solid;
	margin-top: 15px;
}
.pane-dkan-harvest-harvest-source-summary .summary-details div {
	padding: 4px 5px;
}
.pane-dkan-harvest-harvest-source-summary h6 {
  background: #eee;
  color: #222;
  padding: 3px 5px;
  margin: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}