@font-face {
	font-family: 'dkan-flaticon';
	src:url('../fonts/dkan-flaticon.eot?-w5vqwy');
	src:url('../fonts/dkan-flaticon.eot?#iefix-w5vqwy') format('embedded-opentype'),
		url('../fonts/dkan-flaticon.woff?-w5vqwy') format('woff'),
		url('../fonts/dkan-flaticon.ttf?-w5vqwy') format('truetype'),
		url('../fonts/dkan-flaticon.svg?-w5vqwy#dkan-flaticon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.format-label:before {
	font-family: 'dkan-flaticon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*text-shadow: 1px 1px 1px rgba(0,0,0,0.004);*/
}



.icon-dm:before {
	content: "\e600";
}
.icon-ds2:before {
	content: "\e601";
}
.icon-g22:before {
	content: "\e602";
}
.icon-gp2:before {
	content: "\e603";
}
.icon-z1:before {
	content: "\e604";
}
.icon-aac:before {
	content: "\e605";
}
.icon-ai:before {
	content: "\e606";
}
.icon-aif:before {
	content: "\e607";
}
.icon-api:before {
	content: "\e608";
}
.icon-apk:before {
	content: "\e609";
}
.icon-app6:before {
	content: "\e60a";
}
.icon-asf1:before {
	content: "\e60b";
}
.icon-asp:before {
	content: "\e60c";
}
.icon-aspx:before {
	content: "\e60d";
}
.icon-asx2:before {
	content: "\e60e";
}
.icon-avi4:before {
	content: "\e60f";
}
.icon-bak:before {
	content: "\e610";
}
.icon-bat8:before {
	content: "\e611";
}
.icon-bin6:before {
	content: "\e612";
}
.icon-bmp2:before {
	content: "\e613";
}
.icon-cab:before {
	content: "\e614";
}
.icon-cad1:before {
	content: "\e615";
}
.icon-cdr2:before {
	content: "\e616";
}
.icon-cer:before {
	content: "\e617";
}
.icon-cfg2:before {
	content: "\e618";
}
.icon-cfm2:before {
	content: "\e619";
}
.icon-cgi2:before {
	content: "\e61a";
}
.icon-class3:before {
	content: "\e61b";
}
.icon-com:before {
	content: "\e61c";
}
.icon-cpl2:before {
	content: "\e61d";
}
.icon-cpp1:before {
	content: "\e61e";
}
.icon-crx:before {
	content: "\e61f";
}
.icon-csr:before {
	content: "\e620";
}
.icon-css5:before {
	content: "\e621";
} 
.icon-csv2:before {
	content: "\e622";
}
.icon-cue2:before {
	content: "\e623";
}
.icon-cur1:before {
	content: "\e624";
}
.icon-dat2:before {
	content: "\e625";
} 
.icon-data:before {
	content: "\e626";
}
.icon-db2:before {
	content: "\e627";
}
.icon-dbf2:before {
	content: "\e628";
}
.icon-dds2:before {
	content: "\e629";
}
.icon-dem2:before {
	content: "\e62a";
}
.icon-dll2:before {
	content: "\e62b";
}
.icon-dmg3:before {
	content: "\e62c";
}
.icon-dmp2:before {
	content: "\e62d";
}
.icon-doc2:before {
	content: "\e62e";
}
.icon-docx:before {
	content: "\e62f";
}
.icon-drv1:before {
	content: "\e630";
}
.icon-dtd2:before {
	content: "\e631";
}
.icon-dwg2:before {
	content: "\e632";
}
.icon-dxf1:before {
	content: "\e633";
}
.icon-elf2:before {
	content: "\e634";
}
.icon-eps2:before {
	content: "\e635";
}
.icon-eps5:before {
	content: "\e636";
}
.icon-exe3:before {
	content: "\e637";
}
.icon-fla2:before {
	content: "\e638";
}
.icon-flash10:before {
	content: "\e639";
}
.icon-flv:before {
	content: "\e63a";
}
.icon-fnt:before {
	content: "\e63b";
}
.icon-fon1:before {
	content: "\e63c";
}
.icon-gam2:before {
	content: "\e63d";
}
.icon-gbr1:before {
	content: "\e63e";
}
.icon-ged2:before {
	content: "\e63f";
}
.icon-gif3:before {
	content: "\e640";
}
.icon-gpx1:before {
	content: "\e641";
}
.icon-gz:before {
	content: "\e642";
}
.icon-gzip2:before {
	content: "\e643";
}
.icon-hqz:before {
	content: "\e644";
}
.icon-html9:before {
	content: "\e645";
}
.icon-ibooks1:before {
	content: "\e646";
}
.icon-icns:before {
	content: "\e647";
}
.icon-ico2:before {
	content: "\e648";
}
.icon-ics2:before {
	content: "\e649";
}
.icon-iff:before {
	content: "\e64a";
}
.icon-indd2:before {
	content: "\e64b";
}
.icon-iso1:before {
	content: "\e64c";
}
.icon-iso4:before {
	content: "\e64d";
}
.icon-jar8:before {
	content: "\e64e";
}
.icon-jpg3:before {
	content: "\e64f";
}
.icon-js2:before {
	content: "\e650";
}
.icon-json:before {
	content: "\e651";
}
.icon-jsp2:before {
	content: "\e652";
}
.icon-key35:before {
	content: "\e653";
}
.icon-kml1:before {
	content: "\e654";
}
.icon-kmz:before {
	content: "\e655";
}
.icon-lnk2:before {
	content: "\e656";
}
.icon-log2:before {
	content: "\e657";
}
.icon-lua:before {
	content: "\e658";
}
.icon-m3u:before {
	content: "\e659";
}
.icon-m4a1:before {
	content: "\e65a";
}
.icon-m4v2:before {
	content: "\e65b";
}
.icon-macho:before {
	content: "\e65c";
}
.icon-max2:before {
	content: "\e65d";
}
.icon-mdb2:before {
	content: "\e65e";
}
.icon-mdf2:before {
	content: "\e65f";
}
.icon-mid:before {
	content: "\e660";
}
.icon-mim:before {
	content: "\e661";
}
.icon-mov2:before {
	content: "\e662";
}
.icon-mp4:before {
	content: "\e663";
}
.icon-mp36:before {
	content: "\e664";
}
.icon-mpa:before {
	content: "\e665";
}
.icon-mpg3:before {
	content: "\e666";
}
.icon-msg2:before {
	content: "\e667";
}
.icon-msi2:before {
	content: "\e668";
}
.icon-nes1:before {
	content: "\e669";
}
.icon-object4:before {
	content: "\e66a";
}
.icon-odb2:before {
	content: "\e66b";
}
.icon-odc2:before {
	content: "\e66c";
}
.icon-odf2:before {
	content: "\e66d";
}
.icon-odg:before {
	content: "\e66e";
}
.icon-odi2:before {
	content: "\e66f";
}
.icon-odp2:before {
	content: "\e670";
}
.icon-ods2:before {
	content: "\e671";
}
.icon-odt:before {
	content: "\e672";
}
.icon-odt5:before {
	content: "\e673";
}
.icon-odx:before {
	content: "\e674";
}
.icon-ogg:before {
	content: "\e675";
}
.icon-otf:before {
	content: "\e676";
}
.icon-otf1:before {
	content: "\e677";
}
.icon-pages4:before {
	content: "\e678";
}
.icon-pct2:before {
	content: "\e679";
}
.icon-pdb2:before {
	content: "\e67a";
}
.icon-pdf19:before {
	content: "\e67b";
}
.icon-pif2:before {
	content: "\e67c";
}
.icon-pkg2:before {
	content: "\e67d";
}
.icon-pl2:before {
	content: "\e67e";
}
.icon-png3:before {
	content: "\e67f";
}
.icon-pps2:before {
	content: "\e680";
}
.icon-ppt:before {
	content: "\e681";
}
.icon-pptx2:before {
	content: "\e682";
}
.icon-ps:before {
	content: "\e683";
}
.icon-psd3:before {
	content: "\e684";
}
.icon-pub2:before {
	content: "\e685";
}
.icon-python3:before {
	content: "\e686";
}
.icon-ra:before {
	content: "\e687";
}
.icon-rar2:before {
	content: "\e688";
}
.icon-raw2:before {
	content: "\e689";
}
.icon-rdf:before {
	content: "\e68a";
}
.icon-rm:before {
	content: "\e68b";
}
.icon-rom2:before {
	content: "\e68c";
}
.icon-rpm2:before {
	content: "\e68d";
}
.icon-rss29:before {
	content: "\e68e";
}
.icon-rtf:before {
	content: "\e68f";
}
.icon-sav:before {
	content: "\e690";
}
.icon-sdf:before {
	content: "\e691";
}
.icon-sitx2:before {
	content: "\e692";
}
.icon-sql3:before {
	content: "\e693";
}
.icon-sql5:before {
	content: "\e694";
}
.icon-srt:before {
	content: "\e695";
}
.icon-svg1:before {
	content: "\e696";
}
.icon-swf1:before {
	content: "\e697";
}
.icon-sys:before {
	content: "\e698";
}
.icon-tar1:before {
	content: "\e699";
}
.icon-tex:before {
	content: "\e69a";
}
.icon-tga2:before {
	content: "\e69b";
}
.icon-thm1:before {
	content: "\e69c";
}
.icon-tiff1:before {
	content: "\e69d";
}
.icon-tmp:before {
	content: "\e69e";
}
.icon-torrent:before {
	content: "\e69f";
}
.icon-ttf2:before {
	content: "\e6a0";
}
.icon-txt2:before {
	content: "\e6a1";
}
.icon-uue2:before {
	content: "\e6a2";
}
.icon-vb:before {
	content: "\e6a3";
}
.icon-vcd2:before {
	content: "\e6a4";
}
.icon-vcf2:before {
	content: "\e6a5";
}
.icon-vob:before {
	content: "\e6a6";
}
.icon-wav2:before {
	content: "\e6a7";
}
.icon-wma1:before {
	content: "\e6a8";
}
.icon-wmv2:before {
	content: "\e6a9";
}
.icon-wpd2:before {
	content: "\e6aa";
}
.icon-wps:before {
	content: "\e6ab";
}
.icon-wsf2:before {
	content: "\e6ac";
}
.icon-xhtml:before {
	content: "\e6ad";
	color: #55a1ce;
}
.icon-xlr2:before {
	content: "\e6ae";
}
.icon-xls1:before {
	content: "\e6af";
}
.icon-xlsx:before {
	content: "\e6b0";
}
.icon-xml5:before {
	content: "\e6b1";
}
.icon-yuv2:before {
	content: "\e6b2";
}
.icon-zip6:before {
	content: "\e6b3";
}
