.panel-full-width {
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-full-width .panel-top,
.panel-full-width .panel-middle,
.panel-full-width .panel-bottom {
  width: 100%;
  clear: both;
}

.panel-full-width .panel-col-first .inside,
.panel-full-width .panel-col-second .inside,
.panel-full-width .panel-col-third .inside,
.panel-full-width .panel-middle .inside {
  margin: 15px;
}
.panel-full-width .panel-hero .inside {
  padding: 30px 15px;
}

.panel-full-width .panel-top .panel-col-first,
.panel-full-width .panel-top .panel-col-second {
  width: 50%;
  float: left;
}

.panel-full-width .panel-bottom .panel-col-first,
.panel-full-width .panel-bottom .panel-col-second,
.panel-full-width .panel-bottom .panel-col-third {
  width: 33.333%;
  float: left;
}

.panel-full-width .panel-separator {
  margin: 0;
}
