
.stages {
  margin: 0;
  list-style: none;
  *zoom: 1;
/*  color: #aeaeae; */
  counter-reset: stage;
  margin: -20px -25px 20px;
  overflow: hidden;
}
.stages a:link,
.stages a:visited,
.stages a {
  color: #FFF;
}
.stages:before,
.stages:after {
  display: table;
  content: "";
}
.stages:after {
  clear: both;
}
.stages li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 27px;
  counter-increment: stage;
  width: 33.33%;
  /** */
  background-color: #ededed;
  background-color: rgb(200, 200, 200);
  float: left;
  padding: 10px 20px;
  position: relative;
  z-index: 0;
}
.stages li:before {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  content: counter(stage);
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-right: 5px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #aeaeae;
  z-index: 1;
}
.stages li:after {
  left: 0;
  border: solid rgba(237, 237, 237, 0);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #ededed;
  border-bottom-color: #ededed;
  /* */
  border-top-color: rgb(200, 200, 200);
  border-bottom-color: rgb(200, 200, 200);
  border-width: 29px;
  top: 50%;
  margin-top: -29px;
  margin-left: -30px;
}
.stages li.first,
.stages li.first .highlight {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
.stages li.last {
  position: relative;
  right: -1px;
}
.stages li.last,
.stages li.last .highlight {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
.stages li.first:after {
  content: none;
  border: none;
}
.stages li.complete:after {
  border-color: rgba(197, 226, 196, 0);
  border-top-color: #c5e2c4;
  border-bottom-color: #c5e2c4;
  border-top-color: rgb(150, 150, 150);
  border-bottom-color: rgb(150, 150, 150);
}
.stages.stage-3 li.complete:first-child:after {
  content: none;
}
.stages li.uncomplete {
  background-color: rgb(200, 200, 200);
}
.stages li.uncomplete:before,
.stages li.uncomplete a {
  color: rgb(75, 75, 75);
}
.stages li.uncomplete .highlight {
  background-color: rgb(200, 200, 200);
}
.stages li.complete .highlight {
  background-color: rgb(200, 200, 200);
}
.stages li.complete {
  background-color: rgb(150, 150, 150);
}
.stages li.active {
  background-color: rgb(75, 75, 75);
}
.stages li.active:after {
  border-top-color: rgb(75, 75, 75);
  border-bottom-color: rgb(75, 75, 75);
}
.stages li.active:before {
/**  color: #8cc68a; **/
  color: rgb(75, 75, 75);
  background: #ffffff;
}
.stages li.complete:before {
  /* color: #c5e2c4; */
  background: rgb(150, 150, 150)
  background: #eef6ed;
}
.stages li .highlight {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 52px;
  border: none;
  text-align: left;
  text-decoration: none;
  line-height: 27px;
  z-index: -1;
}
.stages li.active .highlight {
  color: #ffffff;
  background: rgb(75, 75, 75);
  /*background: #8cc68a;*/
}
.stages li.complete .highlight {
  color: #eef6ed;
  /*background: #c5e2c4;*/
  background: rgb(150, 150, 150)
}
