/* panel pane */
.view-dkan-topics-featured {
 margin: 2em 0;
}
.view-dkan-topics-featured .views-field-field-image img {
  max-width: 110px;
  margin-bottom: 8px;
}
.view-dkan-topics-featured .topic-icon,
.view-dkan-topics-featured .views-field {
  display: block;
  margin: 5px 0;
  text-align: center;
  width: 100%;
}
.view-dkan-topics-featured a:hover {
  text-decoration: none;
}
.view-dkan-topics-featured .topic-icon a::before {
  font-size: 7em;
  line-height: 1em;
}
#div-field-topic-icon-color-und-0--rgb {
  margin-bottom: 3em;
}
/* dataset view */
.view-dkan-datasets .field-name-field-topic {
  margin: 8px 0;
}
.field-name-field-topic .name,
.view-dkan-datasets .field-name-field-topic .name {
  margin: 0 1.5em 0 .25em;
}
#taxonomy-form-term .field-name-field-topic-icon {
  display: block;
}
.field-name-field-topic-icon,
.field-name-field-topic .name,
.view-dkan-datasets .field-name-field-topic-icon,
.view-dkan-datasets .field-name-field-topic .name {
  display: inline-block;
}
.field-name-field-topic-icon span::before,
.view-dkan-datasets .field-name-field-topic-icon span::before {
  font-size: 1.5em;
  vertical-align: bottom;
  padding-right: 2px;
}
.field-name-field-topic .field-item {
  margin-bottom: 5px;
}
.field-name-field-topic .field-type-image {
  display: inline-block;
}
/* FACET BLOCK */
.facetapi-facet-field-topic li.leaf a span:before {
  font-family: 'font_icon_select_1';
  margin-right: 5px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.facetapi-facet-field-topic li.leaf a .icon-dkan-transportation:before {
  content:'\e977';
}
.facetapi-facet-field-topic li.leaf a .icon-dkan-public-safety:before {
  content:'\e978';
}
.facetapi-facet-field-topic li.leaf a .icon-dkan-city-planning:before {
  content:'\e979';
}
.facetapi-facet-field-topic li.leaf a .icon-dkan-health-care:before {
  content: '\e97a';
}
.facetapi-facet-field-topic li.leaf a .icon-dkan-education:before {
  content: '\e97b';
}
.facetapi-facet-field-topic li.leaf a .icon-dkan-finance-and-budgeting:before {
  content: '\e97c';
}
