<div class="datastore-status-revision-id">
    {{ revision_id }}
    (<span class="datastore-status-revision-modified">{{ modified }}</span>)
</div>
<div class="datastore-status-revision-moderation-state">{{ moderation_state }}</div>