.form-item-created-min,
.form-item-created-max,
.form-item-changed-min,
.form-item-changed-max {
  display: inline-block;
}

.form-item-created-min input,
.form-item-created-max input,
.form-item-changed-min input,
.form-item-changed-max input {
  width: 100px;
}